

p.colorbox {
  border-top: 100px solid green;
border-right: 100px solid red;
border-bottom: 100px solid blue;
border-left: 100px solid yellow;
  width:0px
}
div.abc {
  border-top: 100px solid #98e4f2;
border-right: 100px solid #0b0bf7;
border-left: 100px solid #474095;
  width:0px
}


div.abc {
  border-top: 100px solid #98e4f2;
border-right: 100px solid #0b0bf7;
border-left: 100px solid #474095;
    
    

 width:0px
    height:0px
    margin:500px;
    display: inline-block;
}


p.top {
  background:lightgreen ;
   width:200px ;
    height:50px;
  border-top: 5px solid green;
border-right: 5px solid green;
border-bottom: 5px dotted green;
border-left: 5px solid green;
    margin:0px ;
  
}
p.bottom {
 background:lightgreen ;
   width:150px ;
    height:200px;
border-right: 5px solid green;
border-bottom: 5px solid green;
border-left: 5px solid green;
  margin:0px 25px;
    padding: 0px;
}



div#bb{
    background: white;
    width: 300px;
  
     margin-left: auto;
    margin-right: auto;
}

div#aa{
    width: 300px;
    background: #5e44cb;
    margin-left: auto;
margin-right: auto;


}

h1{
    color: white;
    padding: 20px ;
    font-family: arial;
    font-weight: 50;
    font-size: 20px;
}
div#ff{
    
    font-size: 100px;
    color: white;
    display: inline-block;
margin-left: 100px;
   
}

div#gg{
    font-size: 10px;
    color: white;
    display: inline-block;
}
div#hh{
    margin: 0px 90px ;
    font-size: 20px;
    color: white;
   
}
h3{ 
    color: white;
    width: 230px;
    padding: 5px ;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    
    font-family: arial;
    font-weight: lighter;
}

h4{
    color: gainsboro;
}


span#dd{
    color: black;
}
span#gg{
    
}